@import '../styles/variables.module.scss';

.home {
  &__somosHacemos {
    background-image: url('/home-section-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1380px;
    padding-left: 24.5%;
    padding-top: 10%;

    &Content {
      width: 55%;
    }
  }

  &__paragraph {
    font-size: 29px;

  }

  &__titleList {
    margin: 0;
    padding-left: 0;
    font-family: Provicali;
    font-size: 78px;

    li {
      list-style: none;
      line-height: 78px;
    }
  }

  &__itemList {
    
    &Black {
      color: black;
      letter-spacing: -10px;
    }

    &Green {
      color: $primary;
      letter-spacing: -10px;
    }
  }

  &__paragraph {
    font-size: 18px;
  }
}

.queHacemos {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0;

  &__title {
    font-weight: bold;
    font-size: 23px;
  }

  &__item {
    width: 300px;
    text-align: center;
  }

  &__icon {
    height: 170px;
    img {
      margin: 0 auto;
    }
  }
}

.img-responsive {
  width: 100%;
}

@media screen and (max-width: 1700px) {
  .queHacemos {

    &__icon {
      max-width: 150px;
      margin: 0 auto;
    }
  }
  .home {

    &__somosHacemos {
      height: 1100px;
    }

    &__titleList {
      font-size: 70px;
  
      li {
        line-height: 70px;
      }
    }

    &__paragraph {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .home {

    &__titleList {
      font-size: 68px;
  
      li {
        line-height: 68px;
      }
    }

    &__paragraph {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1500px) {

  .home {

    &__somosHacemos {
      background-image: url('/home-main-background.png');
      background-position: bottom;
      height: 900px;
      padding-left: 12%;
    }

    &__titleList {
      font-size: 56px;
  
      li {
        line-height: 56px;
      }
    }

    &__paragraph {
      font-size: 17px;
    }

    &__itemList {
    
      &Black {
        letter-spacing: -7px;
      }
  
      &Green {
        letter-spacing: -7px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .home {

    &__somosHacemos {
      background-size: 115%;
      height: 900px;
    }

    &__titleList {
      font-size: 56px;
  
      li {
        line-height: 56px;
      }
    }

    &__paragraph {
      font-size: 17px;
    }

    &__itemList {
    
      &Black {
        letter-spacing: -7px;
      }
  
      &Green {
        letter-spacing: -7px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home {

    &__somosHacemos {
      background-size: 110%;
      height: 900px;
      padding-left: 10%;
      padding-top: 13%;

      &Content {
        width: 78%;
      }
    }

    &__titleList {
      font-size: 56px;
  
      li {
        line-height: 56px;
      }
    }

    &__paragraph {
      font-size: 16px;
    }

    &__itemList {
    
      &Black {
        letter-spacing: -7px;
      }
  
      &Green {
        letter-spacing: -7px;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .queHacemos {
      flex-direction: column;
      align-items: center;

      &__item {
        margin-bottom: 50px;
      }
  }

  .home {

    &__somosHacemos {
      background-size: 385%;
      height: 702px;
      padding: 0 15px;
    }

    &__titleList {
      font-size: 56px;
  
      li {
        line-height: 56px;
      }
    }

    &__paragraph {
      font-size: 16px;
    }

    &__itemList {
    
      &Black {
        letter-spacing: -7px;
      }
  
      &Green {
        letter-spacing: -7px;
      }
    }
  }
}