@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url('MontserratAlternates-ExtraLightItalic.woff2') format('woff2'),
        url('MontserratAlternates-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

